.formulario {
    background-color: $color-fondo;
    background: cover;
    color: white;
    font-size: 2vw;
  }
  .contenedor8 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_form sub_info";
    
  }
  
  .sub_form {
    grid-area: sub_form;
    padding: 5% 5% 5% 5%;
    h2 {
      font-weight: 900;
    }
    p {
      font-weight: 300;
    }
  
    form {
      display: flex;
      flex-direction: column;
      
      input {
        background-color: $color-fondo;
        border-bottom: 2px solid white;
        margin: 10% 0 10% 0;
        color: white;
      }
      textarea {
        background-color: $color-fondo;
        border-radius: 25px;
        border: 2px solid white;
        padding: 5% 0 0 5%;
        height: 25vw;
        color: white;
      }
      
    }
    
  }
  
  .sub_info {
    grid-area: sub_info;
    background-image: url(../img/img_07.jpg);
    background-size: cover;
    background-color: white;
  
  }
  
  @media (max-width: 767px) {    
    .contenedor8 {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 100vw 100vw;
      grid-auto-columns: 1fr;
      gap: 0px 0px;
      
      grid-auto-flow: row;
      justify-content: center;
      align-content: center;
      grid-template-areas: "sub_form" "sub_info";
    }
    
    .sub_form {
      grid-area: sub_form;
      
    }
    
    .sub_info {
      grid-area: sub_info;
      
      
    }
    
    } 
  
  
  @keyframes miEfecto {
     
    100% {
        transform: rotate(360deg);
    }
  }