.about {
  
  background-image: url(../img/img_09.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
}


.contenedor9 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "web1 web2 web4" "web1 web3 web5";
  height: 400px;
  
}

.web1 {
  display: grid;
  grid-template-columns: 85%;
  grid-template-rows: 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_web1";
  grid-area: web1;
  color: white;
  
}

.sub_web1 {
  grid-area: sub_web1;
 
}

.web2 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  
  align-content: center;
  grid-template-areas: "sub_web2";
  grid-area: web2;
}

.sub_web2 {
  grid-area: sub_web2;
  border: 1px solid magenta;
  border-radius: 25px;

  
}

.web3 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_web3";
  grid-area: web3;
}

.sub_web3 {
  grid-area: sub_web3;
  border: 1px solid magenta;
  border-radius: 25px;
}

.web4 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_web4";
  grid-area: web4;
}

.sub_web4 {
  grid-area: sub_web4;
  border: 1px solid magenta;
  border-radius: 25px;
}

.web5 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_web5";
  grid-area: web5;
}

.sub_web5 {
  grid-area: sub_web5;
  border: 1px solid magenta;
  border-radius: 25px;
}

  
.contenedor10 {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "web4" "web5";
}

.web4 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_web4";
  grid-area: web4;
}

.sub_web4 {
  grid-area: sub_web4;
}

.web5 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_web5";
  grid-area: web5;
}

.sub_web5 {
  grid-area: sub_web5;
}


  .contenedor11 {
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 20% 1fr 1fr 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "serv1 serv1" "serv2 serv3" "serv4 serv5" "serv6 serv6";
  }
  
  .serv1 {
    grid-area: serv1;
  }
  
  .serv2 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_serv2";
    grid-area: serv2;
  }
  
  .sub_serv2 {
    grid-area: sub_serv2;
  }
  
  .serv3 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_serv3";
    grid-area: serv3;
  }
  
  .sub_serv3 {
    grid-area: sub_serv3;
  }
  
  .serv4 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_serv4";
    grid-area: serv4;
  }
  
  .sub_serv4 {
    grid-area: sub_serv4;
  }
  
  .serv5 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_serv5";
    grid-area: serv5;
  }
  
  .sub_serv5 {
    grid-area: sub_serv5;
  }
  
  .serv6 {
    grid-area: serv6;
  }


  .contenedor12 {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 60%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "banner1 banner2";
  }
  
  .banner1 {
    grid-area: banner1;
  }
  
  .banner2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "sub_banner2_1 sub_banner2_2" "sub_banner2_3 sub_banner2_4";
    grid-area: banner2;
  }
  
  .sub_banner2_1 {
    grid-area: sub_banner2_1;
  }
  
  .sub_banner2_2 {
    grid-area: sub_banner2_2;
  }
  
  .sub_banner2_3 {
    grid-area: sub_banner2_3;
  }
  
  .sub_banner2_4 {
    grid-area: sub_banner2_4;
  }

  .contenedor13 {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 60%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "detalle1 detalle2";
  }
  
  .detalle1 {
    grid-area: detalle1;
  }
  
  .detalle2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "sub_detalle2_2" ".";
    grid-area: detalle2;
  }
  
  .sub_detalle2_2 {
    grid-area: sub_detalle2_2;
  }
  