.about {
  
  
  height: 500px;
}


.contenedor9 {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "web1 web1 web1" "web2 web3 web4";
  height: 500px;
  font-weight: 600;
  h3 {
    font-weight: 700;
  }
  h2 {
    font-weight: 900;
    font-size: 3vw;
    color: transparent;
    background-image: linear-gradient(to left, #0026ff, #7B68EE, #3498db, #2ecc71, #c300ff);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%;
  }
}

.web1 {
  grid-area: web1;
  background-image: url(../img/img_10.jpg);
  /* height: 200px; */
  background-size: cover;
  background-position: center center;
}

.web2 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: rgb(10, 159, 154);
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_web2";
  grid-area: web2;
}

.sub_web2 {
  grid-area: sub_web2;
  
}

.web3 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: rgb(25, 21, 31);
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_web3";
  grid-area: web3;
}

.sub_web3 {
  grid-area: sub_web3;
  color: white;
}

.web4 {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: rgb(202, 197, 176);
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub_web4";
  grid-area: web4;
}
.sub_web4 {
  grid-area: sub_web4;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  height: 50px;

  div {
    width: 12px;
    background: #2c2a2a;
    animation: loader 1.8s linear infinite;

    &:nth-child(2) {
      animation-delay: -0.25s;
    }
  }
}

@keyframes loader {
  0% {
    height: 12px;
  }

  25% {
    height: 50px;
  }

  50% {
    height: 10px;
  }

  75% {
    height: 25px;
  }

  100% {
    height: 12px;
  }
}

@keyframes color {
  from {
      background-position: 0% 50%;
  }

  to {
      background-position: 100% 50%;
  }
} 

.contenedor10 {
  background-color: black;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
    color: white;
  }
}
.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(0, 140, 255), 0 0 82px rgb(0, 140, 255), 0 0 92px rgb(0, 140, 255), 0 0 102px rgb(0, 140, 255), 0 0 151px rgb(0, 140, 255);
  
}
h1, h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  align-content: center;
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 1.8rem;
}


  .contenedor11 {
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 20% 1fr 1fr 20%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "serv1 serv1" "serv2 serv3" "serv4 serv5" "serv6 serv6";
  }
  
  .serv1 {
    grid-area: serv1;
  }
  
  .serv2 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_serv2";
    grid-area: serv2;
  }
  
  .sub_serv2 {
    grid-area: sub_serv2;
  }
  
  .serv3 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_serv3";
    grid-area: serv3;
  }
  
  .sub_serv3 {
    grid-area: sub_serv3;
  }
  
  .serv4 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_serv4";
    grid-area: serv4;
  }
  
  .sub_serv4 {
    grid-area: sub_serv4;
  }
  
  .serv5 {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sub_serv5";
    grid-area: serv5;
  }
  
  .sub_serv5 {
    grid-area: sub_serv5;
  }
  
  .serv6 {
    grid-area: serv6;
  }


  .contenedor12 {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 60%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "banner1 banner2";
  }
  
  .banner1 {
    grid-area: banner1;
  }
  
  .banner2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "sub_banner2_1 sub_banner2_2" "sub_banner2_3 sub_banner2_4";
    grid-area: banner2;
  }
  
  .sub_banner2_1 {
    grid-area: sub_banner2_1;
  }
  
  .sub_banner2_2 {
    grid-area: sub_banner2_2;
  }
  
  .sub_banner2_3 {
    grid-area: sub_banner2_3;
  }
  
  .sub_banner2_4 {
    grid-area: sub_banner2_4;
  }

  .contenedor13 {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 60%;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas: "detalle1 detalle2";
  }
  
  .detalle1 {
    grid-area: detalle1;
  }
  
  .detalle2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "sub_detalle2_2" ".";
    grid-area: detalle2;
  }
  
  .sub_detalle2_2 {
    grid-area: sub_detalle2_2;
  }
  